__utmz=24037858.1488185632.2.2.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=https://www.ingress.com/intel
__utmc=24037858
__utmb=24037858.4.9.1488185646461
__utma=24037858.1234762753.1488185583.1488185583.1488185632.2
csrftoken=ptzi88hyejZQ9i3FCUDtpEClkGB9W2E1
ingress.intelmap.zoom=3
ingress.intelmap.lng=0
ingress.intelmap.lat=25
ingress.intelmap.shflt=viz
SACSID=~AJKiYcFJdHbIGdygHF81x0Okrhk8H0UtCFEGxe06BvXauLGRM9tpNNETCNVVQs2Ju5TeMfDGdHID1yAslizybabhWIOgod3XlH0_PhYZ1wtdgQA5O0kA1-Xp-Uvo1xpAL-64p0SDeVE5GC0fcz4gg9WNPgnA4O_QjuiOWFP2Kd5Cvrrphe_hP06hw_fkIUsxZC8-NsMT21OOVeW6I9IFja9cZbUQvbwogcLymr1DP5D434bCCI3lNrxOIkgbEPmHtxfbFSlIZenks4IncSUHHRYlZ2xyWAMYvlFkNtiJ99HpYKdckkmQI53CJ11W8vD-9rLh3eWNJbxs
__utmt=1